@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body{
    font-family: nunito, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #222222;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1c0000ad;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #ff0000;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
  }
  
  .banner {
    background: url('https://assets.nflxext.com/ffe/siteui/vlv3/71cefa4b-b77d-4c5a-bff2-3dc4ed13458a/7f3d112e-6a8a-4978-a0b5-08bb124e0d5d/US-en-20240311-popsignuptwoweeks-perspective_alpha_website_small.jpg') center/cover no-repeat;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .banner-content {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 10px;
  }
  
  .banner-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #ff0000;
  }
  
  .banner-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .banner-content button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .movies {
    padding: 20px;
  }
  
  .movies h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
  }
  
  .movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
  }
  
  .movie-grid img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s;
  }
  
  .movie-grid img:hover {
    transform: scale(1.05);
  }
  
  